/node_modules
/vendor
/.idea/*
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper_models.php
_ide_helper.php
